<div class="container">
    <div class="row">
        <div class="col-lg-1 col-lg-10 col-lg-1">
            
            <h1>Educacion</h1>
            <ul>
                <li><h3>EET 5</h3> - <h4>1999-2001</h4></li> 
                <p>Administracion y Gestion de Empresas. Informatica personal y profesional</p>
                  
            </ul>
            <ul>
                <li><h3>Udemy</h3> - <h4>2021</h4></li> 
                <p>Testing y debugging de 0 a experto. Prof. Alvaro Chirou</p>
                  
            </ul>
        </div>        
    </div>
</div>