<div class="container-fluid">
    <div class="container">
        <h1>Hard & Soft Skills</h1>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <h3>HTML</h3>
                <circle-progress class="html" 
                [percent]="65" 
                [animation]="true" 
                [animationDuration]="300" 
                [radius]="100" 
                [startFromZero]="true" 
                [showInnerStroke]="true"
                [titleFontSize]="'25'"
                [titleFontWeight]="'900'"
                [titleColor]="'white'"
                [subtitle]="'Completado'"
                [subtitleFontSize]="'15'"
                [subtitleColor]="'white'"

                ></circle-progress>

            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <h3>CSS</h3>
                <circle-progress class="css" 
                [percent]="45" 
                [animation]="true" 
                [animationDuration]="300" 
                [radius]="100" 
                [startFromZero]="true" 
                [showInnerStroke]="true" 
                [titleFontSize]="'25'"
                [titleFontWeight]="'900'"
                [titleColor]="'white'"
                [subtitle]="'Completado'"
                [subtitleFontSize]="'15'"
                [subtitleColor]="'white'"
                ></circle-progress>

            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <h3>JAVA</h3>
                <circle-progress class="java" 
                [percent]="40" 
                [animation]="true" 
                [animationDuration]="300" 
                [radius]="100" 
                [startFromZero]="true" 
                [showInnerStroke]="true" 
                [titleFontSize]="'25'"
                [titleFontWeight]="'900'"
                [titleColor]="'white'"
                [subtitle]="'Completado'"
                [subtitleFontSize]="'15'"
                [subtitleColor]="'white'"
                ></circle-progress>

            </div>            

        </div>
    </div>
</div>