<div class="container">
    <div class="row">
        <h1>Proyectos</h1>
        <div class="col-sm-12 col-md-7 col-lg-7">
            <h2>Bus Rush</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>          
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <img src="../../../assets/proy1.jpg" class="thumbp1 img-fluid offset-md-1 offset-lg-1">
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7">
            <h2>Zombie Squad</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>          
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <img src="../../../assets/proy2-2.jpg" class="thumbp2 img-fluid offset-md-1 offset-lg-1">
        </div>
    </div>
</div>