<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 position-relative text-center">
            <img src="../../../assets/perfilPhoto.jpg" class="img-fluid img-profile" >
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p class="nombre">Guillermo Alvarez</p>
            <p class="titulo">QC Manual</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>El Lorem Ipsum fue concebido como un texto de relleno, formateado de una cierta manera para permitir la presentación de elementos gráficos en documentos, sin necesidad de una copia formal.
                El uso de Lorem Ipsum permite a los diseñadores reunir los diseños y la forma del contenido antes de que el contenido se haya creado, dando al diseño y al proceso de producción más libertad.
                </p>
            </span>
        </div>

    </div>
</div>